* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #60A5FA;
    color: #333;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1E3A8A;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    width: 60%;
    outline: none;
}

.search-form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #1E3A8A;
    color: #fff;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #60A5FA;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #1E3A8A;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e2e2e2;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .search-form input {
        width: 70%;
    }
}
