* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-section {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.profile-card {
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}
.btn-2fa{
    color: #378ce7;
    margin-left: 15px;
    text-decoration: none;
}
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #ddd;
}

#profile-picture-form {
    display: none;
}

.profile-details {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    padding-left: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-btn {
    background-color: #378ce7;
    color: #fff;
}

.update-btn:hover {
    background-color: #1F6FFF;
}

.action-btn {
    background-color: #ff5e57;
    color: #fff;
    margin-bottom: 10px;
}

.action-btn:hover {
    background-color: #ff3b30;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 20px 0;
}

.profile-action {
    text-align: center;
}

.action-section {
    display: none;
}

.text-center {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 576px) {
    .hero-section {
        max-width: 90%;
        padding: 10px;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    button {
        padding: 8px;
        font-size: 14px;
    }

    .action-btn {
        padding: 8px;
    }
}
