
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #fff;
}

.container {
    width: 60%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #1F6FFF;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#1F6FFF;
}

form {
    text-align: center;
    width: 60%;
    margin: auto auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1F6FFF;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1F6FFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(119, 56, 200);
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}