body {
    background-color: #124c8e; /* Dark background for cards */
    color: #f0f0f0; /* Light text */
    font-family: 'Inter', sans-serif; /* Modern font */
    padding: 20px; /* Padding around the body */
}

.container {
    background-color: #124c8e; /* Dark background for cards */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    max-width: 80; /* Restrict container width */
    margin: 5% 15%; /* Center the container */
    text-align: left; /* Left-align text */
}

h2 {
    text-align: center; /* Center-align heading */
}

.input-group {
    margin-bottom: 16px; /* Space between input groups */
}

label {
    font-size: 14px; /* Slightly larger text */
}

.password-wrapper {
    position: relative; /* Position for the eye icon */
}

input {
    width: 100%; /* Full width */
    padding: 10px; /* Padding for comfort */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
}

.toggle-password {
    color:#124c8e;
    position: absolute; /* Position the eye icon */
    top: 10px; /* Position near the top */
    right: 10px; /* Position on the right */
    cursor: pointer; /* Pointer cursor for interactivity */
}

.change-password-button {
    background-color: #0f4177; /* Darker blue on hover */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for comfort */
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    transition: background-color 0.3s; /* Smooth transition */
    cursor: pointer; /* Pointer cursor */
}

.change-password-button:hover {
    background-color: #0a2f57; /* Darker blue on hover */
}
