/* General styling */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #60A5FA, #1E3A8A);
    background-size: cover; /* Ensure the background covers the entire area */
    background-repeat: no-repeat; /* Prevent repeating */
    background-attachment: fixed; /* Ensure it stays fixed on scroll */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px 15%; /* Center the container horizontally */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #124c8e;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="file"]:focus {
    outline: none;
    border-color: #124c8e;
}

button[type="submit"] {
    background-color: #1255c5;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #378ce7;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
